@model PizzaApp.WebApp.Order

@{
    ViewData["Title"] = "Create Order";
}

<h2>Create Order</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select class="form-control" id="LocationId" name="LocationId">
                    <option value="">- Please select location -</option>

                    <option value="1">Reston</option>
                    <option value="2">Herndon</option>
                    <option value="3">Sterling</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PizzaCount" class="control-label"></label>
                <select class="form-control" id="PizzaCount" name="PizzaCount">
                    <option value="">- Please amount of pizza(s) -</option>

                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

