@model PizzaApp.WebApp.Order

@{
    ViewData["Title"] = "Edit Order";
}

<h2>Edit Order</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <input asp-for="LocationId" class="form-control" />
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId1" class="control-label"></label>
                <input asp-for="PizzaId1" class="form-control" />
                <span asp-validation-for="PizzaId1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId2" class="control-label"></label>
                <input asp-for="PizzaId2" class="form-control" />
                <span asp-validation-for="PizzaId2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId3" class="control-label"></label>
                <input asp-for="PizzaId3" class="form-control" />
                <span asp-validation-for="PizzaId3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId4" class="control-label"></label>
                <input asp-for="PizzaId4" class="form-control" />
                <span asp-validation-for="PizzaId4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId5" class="control-label"></label>
                <input asp-for="PizzaId5" class="form-control" />
                <span asp-validation-for="PizzaId5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId6" class="control-label"></label>
                <input asp-for="PizzaId6" class="form-control" />
                <span asp-validation-for="PizzaId6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId7" class="control-label"></label>
                <input asp-for="PizzaId7" class="form-control" />
                <span asp-validation-for="PizzaId7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId8" class="control-label"></label>
                <input asp-for="PizzaId8" class="form-control" />
                <span asp-validation-for="PizzaId8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId9" class="control-label"></label>
                <input asp-for="PizzaId9" class="form-control" />
                <span asp-validation-for="PizzaId9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId10" class="control-label"></label>
                <input asp-for="PizzaId10" class="form-control" />
                <span asp-validation-for="PizzaId10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId11" class="control-label"></label>
                <input asp-for="PizzaId11" class="form-control" />
                <span asp-validation-for="PizzaId11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaId12" class="control-label"></label>
                <input asp-for="PizzaId12" class="form-control" />
                <span asp-validation-for="PizzaId12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

