@model PizzaApp.Context.User

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultLocation" class="control-label"></label>
                <select asp-for="DefaultLocation" class="form-control" asp-items="ViewBag.DefaultLocation"></select>
                <span asp-validation-for="DefaultLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestLocation" class="control-label"></label>
                <select asp-for="LatestLocation" class="form-control" asp-items="ViewBag.LatestLocation"></select>
                <span asp-validation-for="LatestLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestOrderId" class="control-label"></label>
                <select asp-for="LatestOrderId" class="form-control" asp-items="ViewBag.LatestOrderId"></select>
                <span asp-validation-for="LatestOrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

